@charset "utf-8";
/*-------------------------------------------------------------------
	파일정의 : 레이아웃 스타일
	작성날짜 : YYYY-MM-DD 홍길동
	참고사항 : 레이아웃, 상세스타일, 메뉴스타일 분류
	분류순서 : Wrapper > Header > Content > Footer > Navigation
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## Wrapper
-------------------------------------------------------------------*/
/* SkipNav */
.skipNav {position:absolute; left:0; top:0; width:100%; height:0;}
.skipNav a {display:block; position:absolute; left:0; bottom:0; width:100%; line-height:30px; background-color:#000; color:#fff; text-align:center; transform:translateY(0);}
.skipNav a:focus {transform:translateY(100%);}

/* Wrapper */
html, body {height:100%;}
.wrapper {position:relative; min-width:320px;}
/* Inner */
.in-sec {position:relative; min-width:769px; max-width:1410px; margin:auto; flex:0;}
.content-container .sub-cate-area + section {margin-top:4rem;}

/* Sidebar */
.sidebar {display:none; flex-direction:column; position:fixed; left:0; right:30px; top:0; z-index:1001; height:100%; transform:translateX(-100%); transition:transform 0.4s ease;}
.sidebar-header {display:flex; flex-direction:column; justify-content:center; height:115px; padding:0 15px; background-color:#fff; border-bottom:1px solid #dddddd;}
.sidebar-header .logo-area {width:100%;}
.sidebar-header .signature {width:100%; font-size:11px; font-weight:700; color:#333333;}
.sidebar-header .logo {width:100%; margin-top:16px;}
.sidebar-header .logo a {display:block; width:173px; height:20px; background:url(/images/common/logo_sidebar.png) no-repeat 0 0 / 100% 100%; text-indent:-999px; white-space:nowrap; overflow:hidden;}
.sidebar-container {height:calc(100vh - 115px); width:100%; overflow:auto; flex-grow:1; background-color:#fff;}
.sidebar-closer {position:absolute; right:10px; top:10px;}
.sidebar-closer .btn {width:37px; height:32px;}
.sidebar-closer .btn .ico-close {width:17px; height:17px; background-image:url('/images/common/ico_close.png'); background-size:100% auto;}

/* Header Area */
.header .in-sec {display:flex; height:100%; align-items:center;}
.header .logo-area {width:212px; height:100%; margin:auto;}
.header .gnb-area {margin:0 auto;}
.header .unb-area {margin-left:auto;}

/* Header Logo */
.header .logo {display:block; height:100%;}
.header .logo a {display:flex; align-items:center;}
.header .logo a,
.header .logo a span {position:relative; width:100%; height:100%; overflow:hidden; color:#000; font-size:20px;}
.header .logo a span {display:block; width:212px; height:26px; text-indent:-9999px; color:transparent; white-space:nowrap; background:url(/images/common/logo_header.png) no-repeat 0 top / 100% auto;}

/* GNB 1Depth */
.gnb > ul {display:flex; position:relative;}
.gnb > ul > li {display:flex; position:relative; z-index:0; width:190px; height:100px; flex:none; align-items:center;}
.gnb > ul > li > a {display:flex; position:relative; width:100%; height:52px; justify-content:center; align-items:center; font-size:20px; color:#aaaaaa;}
.gnb > ul > li + li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:15px; margin-top:-7px; background-color:#555555;}
.gnb > ul > li > a:focus,
.gnb > ul > li > a:hover,
.gnb > ul > li > a:active,
.gnb > ul > li.is-active > a,
.gnb > ul > li.is-current > a {color:#fff;}
.gnb > ul > li.has-active {z-index:1;}

/* GNB 2Depth */
.gnb .is-active > .node2-menu {display:block; animation:dropdown-active 0.3s ease both;}
.gnb .node2-menu {display:none; position:absolute; left:0; top:100%; z-index:10; width:100%; height:394px; padding:20px 0; background-color:#f3f4f7; transform:translateY(0); transition:all 0.2s ease;}/*animation:dropdown 0.3s ease both; */
.gnb .node2-menu > ul {position:relative; height:100%; border-left:1px solid #ddd;}
.gnb > ul > li:first-child > .node2-menu > ul {border-left:0;}
.gnb .node2-menu > ul.bdr-none {border-color:transparent;}
.gnb .node2-menu > ul > li {padding:10px 0;}
.gnb .node2-menu > ul > li > a {display:block; padding:10px 24px; font-size:18px; font-weight:700; color:#333333;}
.gnb .node2-menu.is-active {background-color:#fff; height:calc(364px + 50px); padding:30px 0; top:calc(100% - 10px); box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);}
.gnb .node2-menu.is-active > ul {border-left:0;}
.gnb .node2-menu > ul > li > a:focus,
.gnb .node2-menu > ul > li > a:hover,
.gnb .node2-menu > ul > li > a:active,
.gnb .node2-menu > ul > li.is-active > a,
.gnb .node2-menu > ul > li.is-current > a {background-color:#00a1df; color:#fff;}

/* GNB 3Depth */
.gnb .node3-menu > ul > li + li {margin-top:3px;}
.gnb .node3-menu > ul > li > a {display:block; padding:10px 24px; color:#666666; font-size:16px; font-weight:300;}
.gnb .node3-menu > ul > li > a:hover,
.gnb .node3-menu > ul > li > a:focus {background-color:#00a1df; color:#fff;}

/* UNB */
.header .unb-shop {display:flex; justify-content:center; align-items:center; width:auto; color:#fff;}
.header .unb-shop .label-txt {margin:0 9px;}
.header .unb-shop .label-ico {display:inline-flex; justify-content:center; align-items:center; width:24px; height:24px; background-color:#00a1df; border-radius:50%;}

/* MNB Depth1 */
.mnb {position:relative; width:100%; height:100%; background-color:#f3f4f7;}
.mnb > ul > li {padding:10px 0 10px 0; width:100%; background-color:#f3f4f7;}
.mnb > ul > li > a {position:relative; display:flex; align-items:center; width:135px; height:50px; font-size:17px; color:#111111; font-weight:700; padding-left:15px;}
.mnb > ul > li > a:before {content:''; display:block; position:relative; top:1px; width:25px; height:25px; margin-right:10px; background:url(/images/common/ico_mnb.png) no-repeat 0 0 / 50px auto;}
.mnb > ul > li:nth-child(1) > a:before {background-position-y:0;}
.mnb > ul > li:nth-child(2) > a:before {background-position-y:-25px;}
.mnb > ul > li:nth-child(3) > a:before {background-position-y:-50px;}
.mnb > ul > li:nth-child(4) > a:before {background-position-y:-75px;}
.mnb > ul > li:nth-child(5) > a:before {background-position-y:-100px;}
.mnb > ul > li.is-active > a {background-color:#00a1df; color:#fff;}
.mnb > ul > li.is-active > a:before {background-position-x:-25px;}
.mnb > ul > li.is-active > a:after {content:''; display:block; position:absolute; z-index:11; left:100%; top:0; width:11px; height:50px; background-color:#00a1df;}

/* MNB Depth2 */
.mnb .node2-menu {display:none; position:absolute; left:135px; top:0; bottom:0; right:0; z-index:10; width:calc(100% - 135px); background-color:#fff; border-left:1px solid #dddddd;}
.mnb .node2-menu > ul {padding:3px 0 0 30px;}
.mnb .node2-menu > ul > li {padding:12px 0;}
.mnb .node2-menu > ul > li + li {border-top:1px solid #dddddd;}
.mnb .node2-menu > ul > li > a {display:block; line-height:42px; font-size:17px; color:#111;}
.mnb .is-active > .node2-menu {display:block;}

/* MNB Depth2 */
.mnb .node3-menu > ul > li + li {margin-top:20px;}
.mnb .node3-menu > ul > li a {display:block; padding-left:10px; line-height:32px; font-size:14px; color:#666666; font-weight:700;}

.sidebar .unb {position:absolute; bottom:0; left:0; display:none;}
.sidebar .unb-shop {display:flex; align-items:center; width:135px; height:50px; padding-left:15px; font-size:17px; font-weight:700; background-color:#111; color:#fff;}
.sidebar .unb-shop .label-txt {display:inline-block; margin:0 5px;}
.sidebar .unb-shop .label-ico {margin-left:15px;}

/* Responsive */
@media screen and (max-width: 1470px) {
    .in-sec {padding-right:1.5rem; padding-left:1.5rem; max-width:100%;}
}
@media screen and (max-width: 1400px) {
	.header .gnb-area {flex:1; margin:0 30px;}
	.gnb > ul > li {width:auto; flex:1;}
	.gnb .is-active > .node2-menu {display:none; height:0;}
}
@media screen and (min-width: 1025px) {
	.header .gnb-area {display:block;}
	.header .unb-area .label-txt {display:inline-block;}
	.header .unb-area .label-ico {display:inline-flex;}
	.header .drawer-area {display:none;}
}
@media screen and (max-width: 1024px) {
	.header .gnb-area {display:none;}
	.header .unb-area .label-txt {display:none;}
	.header .unb-area .label-ico {display:none;}
	.header .drawer-area {display:block;}
}
/*
@media screen and (min-width: 1280px) {
	.header .gnb-area {display:block;}
	.header .unb-area {display:block;}
	.header .drawer-area {display:none;}
}
@media screen and (max-width: 1279px) {
	.header .gnb-area {display:none;}
	.header .unb-area {display:none;}
	.header .drawer-area {display:block; position:absolute; right:2rem;}
}
*/
@media screen and (min-width: 1025px) {
	body.is-sidebar-overed .sidebar {transform:translateX(-100%);}
	.dimmer-sidebar {opacity:0;}
}
@media screen and (max-width: 1024px) {
	body.is-sidebar-overed .sidebar {display:flex; transform:translateX(0);}
}
@media screen and (max-width: 768px) { /* 모바일공통 */
	.in-sec {min-width:320px;}
	.content-container .sub-cate + .in-sec {margin-top:50px;}
	.header {height:26px;}
	.header .logo {width:104px; margin:0 auto}
	.header .logo a span {width:104px; height:13px; background-size:100%;}
}
@media screen and (max-device-width: 960px) and (max-device-height:480px) { /* 가로모드 768 오버사이즈 전용 */
	.in-sec {min-width:320px;}
	.content-container .sub-cate + .in-sec {margin-top:50px;}
	.header {height:26px;}
	.header .logo {width:104px; margin:0 auto}
	.header .logo a span {width:104px; height:13px; background-size:100%;}
}

/*-------------------------------------------------------------------
    ## Main Layout
-------------------------------------------------------------------*/
/* Wrapper */
.main-body .wrapper {height:100%; overflow:hidden;}
.main-body .header {position:absolute; z-index:103; top:0; left:0; width:100%; height:100px; background-color:transparent;}
.main-body .container {position:relative; z-index:102;}
.main-body .content {padding:0 0 0 0;}
.main-body .footer {position:fixed; left:0; bottom:0; width:100%;}

/* Header */
.main-body .header {transition:all 0.3s ease;}
.main-body .header.is-active {background-color:rgba(0,0,0,0.8);}
.main-body .header.is-active .logo a span {background-position:0 bottom !important;}

.main-body .header .drawer-area {position:absolute; right:15px; top:50%; transform:translateY(-50%)}

/* Header Drawer */
.main-body .header .btn-drawer {width:22px; height:22px;}
.main-body .header .btn-drawer span {display:inline-block; position:absolute; left:50%; top:50%; width:22px; height:20px; margin:-11px 0 0 -11px; vertical-align:top;}
.main-body .header .btn-drawer span:before,
.main-body .btn-drawer span:after {content:'';}
.main-body .header .btn-drawer span:before,
.main-body .header .btn-drawer span:after {display:inline-block; position:absolute; left:0; width:22px; height:2px; background:#fff; vertical-align:top;}
.main-body .header .btn-drawer i {margin-top:-1px; width:16px;}
.main-body .header .btn-drawer span:before {top:3px;}
.main-body .header .btn-drawer span:after {top:auto; bottom:3px;}

/* Footer */
.main-body .footer {padding:26px 0; background-color:#333333; font-size:14px;}
.main-body .footer .contactUs {display:flex; margin:0 -30px;}
.main-body .footer .contactUs li {padding:0 30px;}
.main-body .footer .contactUs,
.main-body .footer .copyright {margin-top:10px;}
.main-body .footer .address,
.main-body .footer .contactUs {color:rgba(255,255,255,0.4);}
.main-body .footer .copyright {color:rgba(255,255,255,0.2);}
@media screen and (max-width: 1024px) {
	.main-body .header {height:75px;}
	.main-body .header .unb-area {display:none;}
}
@media screen and (max-width: 768px) {
	.main-body .header {height:50px;}
	.main-body .footer .contactUs {display:block; line-height:20px;}
}
@media screen and (max-device-width: 960px) and (max-device-height:480px) { /* 가로모드 768 오버사이즈 전용 */
	.main-body .header {height:50px;}
	.main-body .footer .contactUs {display:block; line-height:20px;}
}

/*-------------------------------------------------------------------
    ## Theme
-------------------------------------------------------------------*/
/* Transition */
.main-body .gnb > ul > li > a {transition:color 0.3s ease;}
.main-body .gnb > ul > li.node-shop > a {transition:border-color 0.3s ease;}
.main-body .gnb > ul > li > a:focus,
.main-body .gnb > ul > li > a:hover,
.main-body .gnb > ul > li > a:active,
.main-body .gnb > ul > li.is-active > a,
.main-body .gnb > ul > li.is-current > a {transition:color 0.3s ease;}

/* Theme Dark */
.main-body.theme-dark .header .logo a span {background-position:0 bottom;}
.main-body.theme-dark .btn-drawer span:before,
.main-body.theme-dark .btn-drawer span:after {background-color:#fff;}
.main-body.theme-dark .gnb > ul > li > a {color:rgba(255,255,255,0.8);}
.main-body.theme-dark .gnb > ul > li > a:focus,
.main-body.theme-dark .gnb > ul > li > a:hover,
.main-body.theme-dark .gnb > ul > li > a:active,
.main-body.theme-dark .gnb > ul > li.is-active > a,
.main-body.theme-dark .gnb > ul > li.is-current > a {color:#fff;}
.main-body.theme-dark .gnb > ul > li + li:before {background-color:#fff;}
.main-body.theme-dark .unb-shop {color:#fff;}

/* Theme Light */
.main-body.theme-light .header .logo a span {background-position:0 top;}
.main-body.theme-light .btn-drawer span:before,
.main-body.theme-light .btn-drawer span:after {background-color:#000;}
.main-body.theme-light .gnb > ul > li > a {color:#222;}
.main-body.theme-light .gnb > ul > li > a:focus,
.main-body.theme-light .gnb > ul > li > a:hover,
.main-body.theme-light .gnb > ul > li > a:active,
.main-body.theme-light .gnb > ul > li.is-active > a,
.main-body.theme-light .gnb > ul > li.is-current > a {color:#222;}
.main-body.theme-light .gnb > ul > li + li:before {background-color:#555;}
.main-body.theme-light .unb-shop {color:#222;}

.main-body.theme-light .header.is-active .logo {background-position:0 bottom;}
.main-body.theme-light .header.is-active .gnb > ul > li > a {color:#fff;}
.main-body.theme-light .header.is-active .gnb > ul > li > a:focus,
.main-body.theme-light .header.is-active .gnb > ul > li > a:hover,
.main-body.theme-light .header.is-active .gnb > ul > li > a:active,
.main-body.theme-light .header.is-active .gnb > ul > li.is-active > a,
.main-body.theme-light .header.is-active .gnb > ul > li.is-current > a {color:#fff;}
.main-body.theme-light .header.is-active .gnb > ul > li + li:before {background-color:#fff;}
.main-body.theme-light .header.is-active .unb-shop {color:#fff;}


/*-------------------------------------------------------------------
    ## Sub Layout
-------------------------------------------------------------------*/
/* Wrapper */
.sub-body .wrapper {min-height:100%;}
.sub-body .header {position:fixed; z-index:103; top:0; left:0; width:100%; height:100px;}
.sub-body .container {position:relative; z-index:102;}
.sub-body .content {}
.sub-body .footer {width:100%;}
.sub-body .footer.is-fixed {position:fixed; left:0; bottom:0;}

/* Header Area */
.sub-body .header {background-color:rgba(0, 0, 0, 0.8);}
.sub-body .header .in-sec {display:flex; height:100%; align-items:center;}

/* Logo */
.sub-body .header .logo a span {background-position:0 bottom; color:#000;}

/* Drawer */
.sub-body .header .btn-drawer {width:22px; height:22px;}
.sub-body .header .btn-drawer span {display:inline-block; position:absolute; left:50%; top:50%; width:22px; height:20px; margin:-11px 0 0 -11px; vertical-align:top;}
.sub-body .header .btn-drawer span:before,
.sub-body .header .btn-drawer span:after {content:'';}
.sub-body .header .btn-drawer span:before,
.sub-body .header .btn-drawer span:after,
.sub-body .header .btn-drawer i {display:inline-block; position:absolute; left:0; width:22px; height:2px; border-radius:6px; background:#8b8c8d; vertical-align:top;}
.sub-body .header .btn-drawer i {top:50%; margin-top:-1px; width:16px;}
.sub-body .header .btn-drawer span:before {top:0;}
.sub-body .header .btn-drawer span:after {top:auto; bottom:0;}

/* Footer */
.sub-body .footer-inner {padding:20px 0;}
.sub-body .footer {position:relative; padding:5rem 0;}
.sub-body .footer .notice-area {border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
.sub-body .footer .notice-area > dl {display:flex; align-items:center; height:3rem; font-size:0.9rem;}
.sub-body .footer .notice-area > dl dt {padding-right:1rem; color:#111; font-weight:700;}
.sub-body .footer .notice-area > dl dd {padding-left:1rem; position:relative; color:#666; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.sub-body .footer .notice-area > dl dd:before {content:''; display:block; position:absolute; top:0; left:0; width:1px; height:17px; background:#ddd;}
.sub-body .footer .info-area {padding-top:1.8rem;}
.sub-body .footer .info-area .logo-area {width:10.5rem;}
.sub-body .footer .info-area .logo-area .logo {display:block; width:10.5rem; height:1.2rem; color:#000; font-size:20px; background:url(/images/common/logo_footer.png) no-repeat 0 top / 100% auto; background-position:0 bottom;}
.sub-body .footer .info-area .logo-area .logo a span {display:block; position:relative; width:100%; height:100%; overflow:hidden; text-indent:-9999px; color:transparent; white-space:nowrap;}
.sub-body .footer .tel-area .tel > strong {padding-left:0.5rem; font-size:1.2rem; color:#111; line-height:1.4; font-weight:700;}
.sub-body .footer .tel-area .tel > span {padding-left:1rem; font-size:0.9rem; color:#00a1df;}
.sub-body .footer .tel-area .tel > em {font-size:1.5rem; color:#00a1df; line-height:1.4; font-weight:700;}
.sub-body .footer .fnb-area {padding-top:1.5rem;}
.sub-body .footer .fnb-area .fnb > li {position:relative; padding-left:2rem;}
.sub-body .footer .fnb-area .fnb > li:before {content:''; display:block; position:absolute; top:50%; left:1rem; width:1px; height:14px; background:#ddd; transform:translateY(-50%);}
.sub-body .footer .fnb-area .fnb > li:first-child {padding-left:0;}
.sub-body .footer .fnb-area .fnb > li:first-child:before {display:none;}
.sub-body .footer .fnb-area .fnb > li a {font-size:0.7rem; color:#111; line-height:1.4; font-weight:700;}
.sub-body .footer .address-area {padding-top:1.5rem; font-size:14px; color:#666; line-height:1.5rem;}
.sub-body .footer .address-area span {position:relative;}
.sub-body .footer .address-area span + span {padding-left:1.1rem;}
.sub-body .footer .address-area span:before {content:''; display:block; position:absolute; top:50%; left:0.5rem; width:1px; height:14px; background:#ddd; transform:translateY(-50%);}
.sub-body .footer .address-area span:first-child:before {display:none;}
.sub-body .footer .copyright {padding-top:1.5rem; font-size:11px; color:#999;}
.sub-body .footer .sns-area {position:absolute; top:-2.6rem; right:0.5rem;}
.sub-body .footer .sns-area > ul {display:flex;}
.sub-body .footer .sns-area > ul li + li {padding-left:1.2rem;}
.sub-body .footer .sns-area > ul .btn-sns {width:40px; height:40px;}

@media screen and (max-width: 1024px) {
	.sub-body .header {height:75px;}
	.sub-body .header .unb-area {position:absolute; right:1rem; top:50%; transform:translateY(-50%)}
	.sub-body .header .unb-shop {width:3.5rem; height:3.5rem;}
	.sub-body .footer .sns-area {top:-2.9rem;}

}


/* Content */
@media screen and (max-width: 768px) {
	.sub-body .content-container {padding-bottom:60px;}

	.sub-body .header {height:50px;}
	.sub-body .footer {position:relative; padding:0 0 4rem;}
	.sub-body .footer:before {content:''; display:block; width:100%; height:1.3rem; background:#dedfe2;}
	.sub-body .footer .info-area {padding-top:2.7rem;}

	.sub-body .footer .notice-area > dl {height:4.5rem;}
	.sub-body .footer .notice-area > dl dt {font-size:1.4rem;}
	.sub-body .footer .notice-area > dl dd {font-size:1.4rem;}

	.sub-body .footer .logo-area {width:10.5rem;}
	.sub-body .footer .tel-area {display:none;}
	.sub-body .footer .fnb-area {display:none;}
	.sub-body .footer .address-area {padding-top:1.5rem; font-size:1.2rem;}
	.sub-body .footer .address-area span + span {padding-left:0;}
	.sub-body .footer .address-area span:before {display:none;}
	.sub-body .footer .address-area .addr-sec2 {display:none;}
	.sub-body .footer .copyright {padding-top:1rem;}
	.sub-body .footer .sns-area {position:static; margin-top:3rem;}
	.sub-body .footer .sns-area > ul {justify-content:center;}
	.sub-body .footer .sns-area > ul li img {width:3.1rem; height:3.1rem;}
}
@media screen and (max-device-width: 960px) and (max-device-height:480px) { /* 가로모드 768 오버사이즈 전용 */
	.sub-body .content-container {padding-bottom:60px;}

	.sub-body .header {height:50px;}
	.sub-body .footer {position:relative; padding:0 0 4rem;}
	.sub-body .footer:before {content:''; display:block; width:100%; height:1.3rem; background:#dedfe2;}
	.sub-body .footer .info-area {padding-top:2.7rem;}

	.sub-body .footer .notice-area > dl {height:4.5rem;}
	.sub-body .footer .notice-area > dl dt {font-size:1.4rem;}
	.sub-body .footer .notice-area > dl dd {font-size:1.4rem;}

	.sub-body .footer .logo-area {width:10.5rem;}
	.sub-body .footer .tel-area {display:none;}
	.sub-body .footer .fnb-area {display:none;}
	.sub-body .footer .address-area {padding-top:1.5rem; font-size:1.2rem;}
	.sub-body .footer .address-area span + span {padding-left:0;}
	.sub-body .footer .address-area span:before {display:none;}
	.sub-body .footer .address-area .addr-sec2 {display:none;}
	.sub-body .footer .copyright {padding-top:1rem;}
	.sub-body .footer .sns-area {position:static; margin-top:3rem;}
	.sub-body .footer .sns-area > ul {justify-content:center;}
	.sub-body .footer .sns-area > ul li img {width:3.1rem; height:3.1rem;}
}