@charset "utf-8";
/*-------------------------------------------------------------------
	파일정의 : 레이아웃 스타일
	작성날짜 : YYYY-MM-DD 홍길동
	참고사항 : 레이아웃, 상세스타일, 메뉴스타일 분류
	분류순서 : Wrapper > Header > Content > Footer > Navigation
	속성순서 : 표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## Wrapper
-------------------------------------------------------------------*/
/* SkipNav */
.skipNav {position:absolute; left:0; top:0; width:100%; height:0;}
.skipNav a {display:block; position:absolute; left:0; bottom:0; width:100%; line-height:30px; background-color:#000; color:#fff; text-align:center; -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0);}
.skipNav a:focus {-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);}

/* Wrapper */
html, body {height:100%;}
.wrapper {position:relative; min-width:320px;}
/* Inner */
.in-sec {position:relative; min-width: 768px; max-width:1410px; margin:auto; -webkit-box-flex:0; -ms-flex:0; flex:0;}
.content-container .sub-cate-area + section,
.content-container .sub-cate + section {margin-top:4rem;}

@media screen and (max-width: 767px){
	.content-container .sub-cate-area + section.everybot-tech1-sec,
	.content-container .sub-cate-area + section.everybot-tech2-sec,
	.content-container .sub-cate-area + section.everybot-tech3-sec,
	.content-container .sub-cate-area + section.everybot-tech4-sec,
	.content-container .sub-cate-area + section.everybot-tech5-sec {margin-top:5rem;} /*에브리봇 기술력 모바일 상단가격 예외처리*/
}

/* Sidebar */
.sidebar {display:none; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; position:fixed; left:0; right:30px; top:0; z-index:1001; height:100%; -webkit-transform:translateX(-100%); -ms-transform:translateX(-100%); transform:translateX(-100%); -webkit-transition:-webkit-transform 0.4s ease; transition:-webkit-transform 0.4s ease; -o-transition:transform 0.4s ease; transition:transform 0.4s ease; transition:transform 0.4s ease, -webkit-transform 0.4s ease;}
.sidebar-header {display:-webkit-box;display:-ms-flexbox;display:flex; -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; height:115px; padding:0 15px; background-color:#fff; border-bottom:1px solid #dddddd;}
.sidebar-header .logo-area {width:100%;}
.sidebar-header .signature {width:100%; font-size:11px; font-weight:700; color:#333333;}
.sidebar-header .logo {width:100%; margin-top:16px;}
.sidebar-header .logo a {display:block; width:173px; height:20px; background-image:url(/images/common/logo_black.svg); background-size:173px 20px; text-indent:-999px; white-space:nowrap; overflow:hidden; outline:0;}
.sidebar-container {height:calc(100vh - 115px); width:100%; overflow:auto; -webkit-box-flex:1; -ms-flex-positive:1; flex-grow:1; background-color:#fff;}
.sidebar-closer {position:absolute; right:10px; top:10px;}
.sidebar-closer .btn {width:37px; height:32px;}
.sidebar-closer .btn .ico-close {width:20px; height:20px; background-image:url('/images/common/ico_close.svg'); background-size:20px;}

/* Header Area */
.header .in-sec {display:-webkit-box;display:-ms-flexbox;display:flex; height:100%; -webkit-box-align:center; -ms-flex-align:center; align-items:center;}
.header .logo-area {width:212px; height:100%; margin:auto;}
.header .gnb-area {margin:0 auto;}
.header .unb-area {margin-left:auto;}

/* Header Logo */
.header .logo {display:block; height:100%;}
.header .logo a {display:-webkit-box;display:-ms-flexbox;display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center;}
.header .logo a,
.header .logo a span {position:relative; width:100%; height:100%; overflow:hidden; color:#000; font-size:20px;}
.header .logo a span {display:block; width:212px; height:26px; text-indent:-9999px; color:transparent; white-space:nowrap; background-image:url(/images/common/logo_white.svg); background-size:212px 26px; background-repeat:no-repeat;}

/* GNB 1Depth */
.gnb > ul {display:-webkit-box;display:-ms-flexbox;display:flex; position:relative;}
.gnb > ul > li {display:-webkit-box;display:-ms-flexbox;display:flex; position:relative; z-index:0; width:190px; height:100px; -webkit-box-flex:0; -ms-flex:none; flex:none; -webkit-box-align:center; -ms-flex-align:center; align-items:center;}
.gnb > ul > li > a {display:-webkit-box;display:-ms-flexbox;display:flex; position:relative; width:100%; height:52px; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; align-items:center; font-size:20px; color:#aaaaaa;}
.gnb > ul > li + li:before {content:''; display:block; position:absolute; left:0; top:50%; width:1px; height:15px; margin-top:-7px; background-color:#555555;}
.gnb > ul > li > a:focus,
.gnb > ul > li > a:hover,
.gnb > ul > li > a:active,
.gnb > ul > li.is-active > a,
.gnb > ul > li.is-current > a {color:#fff;}
.gnb > ul > li.has-active {z-index:1;}

/* GNB 2Depth */
.gnb .is-active > .node2-menu {display:block; -webkit-animation:dropdown-active 0.3s ease both; animation:dropdown-active 0.3s ease both;}
.gnb .node2-menu {display:none; position:absolute; left:0; top:100%; z-index:10; width:100%; height:394px; padding:20px 0; background-color:#f3f4f7; -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0); -webkit-transition:all 0.2s ease; -o-transition:all 0.2s ease; transition:all 0.2s ease;}/*animation:dropdown 0.3s ease both; */
.gnb .node2-menu > ul {position:relative; height:100%; border-left:1px solid #ddd;}
.gnb > ul > li:first-child > .node2-menu > ul {border-left:0;}
.gnb .node2-menu > ul.bdr-none {border-color:transparent;}
.gnb .node2-menu > ul > li {padding:10px 0;}
.gnb .node2-menu > ul > li > a {display:block; padding:10px 24px; font-size:18px; font-weight:700; color:#333333;}
.gnb .node2-menu > ul > li > a.no-active {pointer-events:none;}
.gnb .node2-menu.is-active {background-color:#fff; height:calc(364px + 50px); padding:30px 0; top:calc(100% - 10px); -webkit-box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1); box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);}
.gnb .node2-menu.is-active > ul {border-left:0;}
.gnb .node2-menu > ul > li > a:focus,
.gnb .node2-menu > ul > li > a:hover,
.gnb .node2-menu > ul > li > a:active,
.gnb .node2-menu > ul > li.is-active > a,
.gnb .node2-menu > ul > li.is-current > a {background-color:#00a1df; color:#fff;}

/* GNB 3Depth */
.gnb .node3-menu > ul > li + li {margin-top:3px;}
.gnb .node3-menu > ul > li > a {display:block; padding:10px 24px; color:#666666; font-size:16px; font-weight:300;}
.gnb .node3-menu > ul > li > a:hover,
.gnb .node3-menu > ul > li > a:focus {background-color:#00a1df; color:#fff;}

/* UNB */
.header .unb-shop {display:-webkit-box;display:-ms-flexbox;display:flex; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; align-items:center; width:auto; color:#fff;}
.header .unb-shop .label-txt {margin:0 9px;}
.header .unb-shop .label-ico {display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; align-items:center; width:24px; height:24px; background-image:url('/images/common/gnb_go_shop.svg'); background-size:100% 100%;}

@media screen and (max-width: 1410px) and (min-width: 1181px){
	.gnb .node2-menu > ul > li > a {padding:10px; font-size:0.8rem;}
}
@media screen and (max-width: 1180px) and (min-width: 1025px){
	.gnb .node2-menu > ul > li > a {padding:10px; font-size:0.6rem;}
	.gnb .node3-menu > ul > li > a {font-size:0.6rem;}
}

/* MNB Depth1 */
.mnb {position:relative; width:100%; min-height:100%; background-color:#f3f4f7;}
.mnb > ul > li {padding:10px 0 10px 0; width:100%; background-color:#f3f4f7;}
.mnb > ul > li > a {position:relative; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; width:135px; height:50px; font-size:17px; color:#111111; font-weight:700; padding-left:15px;}
.mnb > ul > li > a:before {content:''; display:block; position:relative; top:1px; width:25px; height:25px; margin-right:10px;}
.mnb > ul > li:nth-child(1) > a:before {background-image:url(/images/common/ico_mo_menu01.svg);}
.mnb > ul > li:nth-child(2) > a:before {background-image:url(/images/common/ico_mo_menu02.svg);}
.mnb > ul > li:nth-child(3) > a:before {background-image:url(/images/common/ico_mo_menu03.svg);}
.mnb > ul > li:nth-child(4) > a:before {background-image:url(/images/common/ico_mo_menu04.svg);}
.mnb > ul > li:nth-child(5) > a:before {background-image:url(/images/common/ico_mo_menu05.svg);}
.mnb > ul > li.is-active:nth-child(1) > a:before {background-image:url(/images/common/ico_mo_menu01_on.svg);}
.mnb > ul > li.is-active:nth-child(2) > a:before {background-image:url(/images/common/ico_mo_menu02_on.svg);}
.mnb > ul > li.is-active:nth-child(3) > a:before {background-image:url(/images/common/ico_mo_menu03_on.svg);}
.mnb > ul > li.is-active:nth-child(4) > a:before {background-image:url(/images/common/ico_mo_menu04_on.svg);}
.mnb > ul > li.is-active:nth-child(5) > a:before {background-image:url(/images/common/ico_mo_menu05_on.svg);}
.mnb > ul > li.is-active > a {background-color:#00a1df; color:#fff;}
.mnb > ul > li.is-active > a:before {}
.mnb > ul > li.is-active > a:after {content:''; display:block; position:absolute; z-index:11; left:100%; top:0; width:11px; height:50px; background-color:#00a1df;}

/* MNB Depth2 */
.mnb .node2-menu {display:none; position:absolute; left:135px; top:0; bottom:0; right:0; z-index:10; width:calc(100% - 135px); background-color:#fff; border-left:1px solid #dddddd;}
.mnb .node2-menu > ul {padding:3px 0 0 30px;}
.mnb .node2-menu > ul > li {padding:12px 0;}
/*.mnb .node2-menu > ul > li + li {border-top:1px solid #dddddd;}*/
.mnb .node2-menu > ul > li {border-top:1px solid #ddd;}
.mnb .node2-menu > ul > li:first-child {border-top:0;}
/*.mnb .node2-menu > ul > li.dv-pc-only + li {display:block; border-top:0;}*/
.mnb .node2-menu > ul > li > a {display:block; line-height:42px; font-size:17px; color:#111;}
.mnb .node2-menu > ul > li > a.no-active {pointer-events:none;}
.mnb .is-active > .node2-menu {display:block;}

/* MNB Depth2 */
.mnb .no-active + .node3-menu {margin-top:1rem;}
.mnb .node3-menu > ul > li + li {margin-top:1rem;}
.mnb .node3-menu > ul > li a {display:block; padding-left:10px; line-height:32px; font-size:14px; color:#666666; font-weight:700;}

.sidebar .unb {position:absolute; bottom:0; left:0; display:none;}
.sidebar .unb-shop {display:-webkit-box;display:-ms-flexbox;display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; width:135px; height:50px; padding-left:15px; font-size:17px; font-weight:700; background-color:#111; color:#fff;}
.sidebar .unb-shop .label-txt {display:inline-block; margin:0 5px;}
.sidebar .unb-shop .label-ico {margin-left:15px;}

/* Responsive */
@media screen and (max-width: 1470px) {
    .in-sec {overflow:hidden; padding-right:1.5rem; padding-left:1.5rem; max-width:100%;}
    .header .in-sec {overflow:visible;}
}
@media screen and (max-width: 1400px) {
	.header .gnb-area {-webkit-box-flex:1;-ms-flex:1;flex:1; margin:0 30px;}
	.gnb > ul > li {width:auto; -webkit-box-flex:1; -ms-flex:1; flex:1;}
	.gnb .is-active > .node2-menu {display:block; /* display:none; height:0; */}
}
@media screen and (min-width: 1025px) {
	.header .logo-area {margin-left:0;}
	.header .gnb-area {display:block;}
	.header .unb-area .label-txt {display:inline-block; font-size:1rem;}
	.header .unb-area .label-ico {display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;}
	.header .drawer-area {display:none;}
}
@media screen and (max-width: 1024px) {
	.header .gnb-area {display:none;}
	.header .unb-area .label-txt {display:none;}
	.header .unb-area .label-ico {display:none;}
	.header .drawer-area {display:block;}
	.header .unb-area {position:absolute; right:6px; top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%)}
	.header .unb-shop {width:3.5rem; height:3.5rem;}
}
/*
@media screen and (min-width: 1280px) {
	.header .gnb-area {display:block;}
	.header .unb-area {display:block;}
	.header .drawer-area {display:none;}
}
@media screen and (max-width: 1279px) {
	.header .gnb-area {display:none;}
	.header .unb-area {display:none;}
	.header .drawer-area {display:block; position:absolute; right:2rem;}
}
*/
@media screen and (min-width: 1025px) {
	body.is-sidebar-overed .sidebar {-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);}
	.dimmer-sidebar {opacity:0;}
}
@media screen and (max-width: 1024px) {
	body.is-sidebar-overed .sidebar {display:-webkit-box;display:-ms-flexbox;display:flex; -webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0);}
}
@media screen and (max-width: 767px) { /* 모바일공통 */
	.in-sec {min-width:320px;}
	.content-container .sub-cate + .in-sec {margin-top:50px;}
	.header {height:26px;}
	.header .logo {width:104px; margin:0 auto}
	.header .logo a span {width:104px; height:13px; background-size:100%;}
}
@media screen and (max-device-width: 960px) and (max-device-height:480px) { /* 가로모드 768 오버사이즈 전용 */
	.in-sec {min-width:320px;}
	.content-container .sub-cate + .in-sec {margin-top:50px;}
	.header {height:26px;}
	.header .logo {width:104px; margin:0 auto}
	.header .logo a span {width:104px; height:13px; background-size:100%;}
}

/*-------------------------------------------------------------------
    ## Main Layout
-------------------------------------------------------------------*/
/* Wrapper */
.main-body .wrapper {height:100%; overflow:hidden;}
.main-body .header {position:absolute; z-index:103; top:0; left:0; width:100%; height:100px; background-color:transparent;}
.main-body .container {position:relative; z-index:102;}
.main-body .content {padding:0 0 0 0;}
.main-body .footer {position:absolute; left:0; bottom:0; width:100%;}
.main-body .footer .in-sec {display:block; min-height:auto !important; padding-top:0; padding-bottom:0;}

/* Header */
.main-body .header {-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease; /* min-width:1410px; */}
.main-body .header.is-active {background-color:rgba(0,0,0,0.8);}
.main-body .header.is-active .logo a span {background-position:0 bottom !important;}
/*.main-body .header .drawer-area {position:absolute; right:15px; top:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%)}*/


@media screen and (max-width: 1024px) {
	.main-body .header {min-width:auto;}
	.main-body .container {min-width:auto;}
}

/* Header Drawer */
.main-body .header .btn-drawer {width:22px; height:22px;}
.main-body .header .btn-drawer span {display:inline-block; position:absolute; left:50%; top:50%; width:22px; height:20px; margin:-11px 0 0 -11px; vertical-align:top;}
.main-body .header .btn-drawer span:before,
.main-body .btn-drawer span:after {content:'';}
.main-body .header .btn-drawer span:before,
.main-body .header .btn-drawer span:after {display:inline-block; position:absolute; left:0; width:22px; height:1px; background:#fff; vertical-align:top;}
.main-body .header .btn-drawer i {margin-top:-1px; width:16px;}
.main-body .header .btn-drawer span:before {top:3px;}
.main-body .header .btn-drawer span:after {top:auto; bottom:3px;}

/* Footer */
.main-body .footer {padding:1rem 0; background-color:#111; font-size:14px;}
.main-body .footer .contactUs {margin:0 -30px;}
.main-body .footer .contactUs:after {content:""; display:table; clear:both;}
.main-body .footer .contactUs li {display:inline-block; float:left; position:relative; padding-left:2rem;}
.main-body .footer .contactUs li:first-child {padding-left:1.5rem;}
.main-body .footer .contactUs li:first-child:before {display:none;}
.main-body .footer .contactUs li:before {content:''; display:block; position:absolute; top:50%; left:1rem; width:1px; height:14px; background:#4b4b4b; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);}
.main-body .footer .contactUs,
.main-body .footer .copyright {margin-top:10px;}
.main-body .footer .address,
.main-body .footer .contactUs {display:block; color:rgba(255,255,255,0.4);}
.main-body .footer .copyright {color:rgba(255,255,255,0.2);}
.main-body .footer .address .addr {position:relative; padding-left:2rem;}
.main-body .footer .address .addr:before {content:''; display:block; position:absolute; top:50%; left:1rem; width:1px; height:14px; background:#4b4b4b; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);}

.main-body .footer .sns-area {position:absolute; top:0; right:1.5rem;}
.main-body .footer .sns-area > ul {display:-webkit-box;display:-ms-flexbox;display:flex;}
/* .main-body .footer .sns-area > ul li + li {padding-left:1.2rem;} */
.main-body .footer .sns-area > ul .btn-sns {width:40px; height:40px;}

@media screen and (max-width: 1024px) {
	.main-body .header {height:75px;}
	/*.main-body .header .unb-area {display:none;}*/
	.main-body .footer .contactUs {margin-left:-1.5rem;}
}
@media screen and (max-width: 767px) {
	.main-body .header {height:50px;}
	.main-body .footer .contactUs {display:block; line-height:20px;}
	.main-body .footer .copyright {font-size:1rem; text-align:center;}
	.main-body .footer .sns-area {position:relative; margin:0 auto;}
	.main-body .footer .sns-area > ul {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center; margin-top:0.4rem;}
}
@media screen and (max-device-width: 960px) and (max-device-height:480px) { /* 가로모드 768 오버사이즈 전용 */
	.main-body .header {height:50px;}
	.main-body .footer .contactUs {display:block; line-height:20px;}
}

/*-------------------------------------------------------------------
    ## Theme
-------------------------------------------------------------------*/
/* Transition */
.main-body .gnb > ul > li > a {-webkit-transition:color 0.3s ease;-o-transition:color 0.3s ease;transition:color 0.3s ease;}
.main-body .gnb > ul > li.node-shop > a {-webkit-transition:border-color 0.3s ease;-o-transition:border-color 0.3s ease;transition:border-color 0.3s ease;}
.main-body .gnb > ul > li > a:focus,
.main-body .gnb > ul > li > a:hover,
.main-body .gnb > ul > li > a:active,
.main-body .gnb > ul > li.is-active > a,
.main-body .gnb > ul > li.is-current > a {-webkit-transition:color 0.3s ease;-o-transition:color 0.3s ease;transition:color 0.3s ease;}

/* Theme Dark */
.main-body.theme-dark .header .logo a span {background-image:url(/images/common/logo_white.svg);}
.main-body.theme-dark .btn-drawer span:before,
.main-body.theme-dark .btn-drawer span:after {background-color:#fff;}
.main-body.theme-dark .gnb > ul > li > a {color:rgba(255,255,255,0.8);}
.main-body.theme-dark .gnb > ul > li > a:focus,
.main-body.theme-dark .gnb > ul > li > a:hover,
.main-body.theme-dark .gnb > ul > li > a:active,
.main-body.theme-dark .gnb > ul > li.is-active > a,
.main-body.theme-dark .gnb > ul > li.is-current > a {color:#fff;}
.main-body.theme-dark .gnb > ul > li + li:before {background-color:#fff; opacity:0.3;}
.main-body.theme-dark .unb-shop {color:#fff;}
.main-body.theme-dark .ico-buy {background-image:url('/images/common/ico_buy_white.svg');}

/* Theme Light */
.main-body.theme-light .header .logo a span {background-image:url(/images/common/logo_black.svg);}
.main-body.theme-light .header.is-active .logo a span {background-image:url(/images/common/logo_white.svg);}
.main-body.theme-light .btn-drawer span:before,
.main-body.theme-light .btn-drawer span:after {background-color:#000;}
.main-body.theme-light .gnb > ul > li > a {color:#222;}
.main-body.theme-light .gnb > ul > li > a:focus,
.main-body.theme-light .gnb > ul > li > a:hover,
.main-body.theme-light .gnb > ul > li > a:active,
.main-body.theme-light .gnb > ul > li.is-active > a,
.main-body.theme-light .gnb > ul > li.is-current > a {color:#222;}
.main-body.theme-light .gnb > ul > li + li:before {background-color:#555;}
.main-body.theme-light .unb-shop {color:#222;}
.main-body.theme-light .ico-buy {background-image:url('/images/common/ico_buy_black.svg');}
.main-body.theme-light .header.is-active .ico-buy  {background-image:url('/images/common/ico_buy_white.svg');}

.main-body.theme-light .header.is-active .logo {background-position:0 bottom;}
.main-body.theme-light .header.is-active .gnb > ul > li > a {color:#fff;}
.main-body.theme-light .header.is-active .gnb > ul > li > a:focus,
.main-body.theme-light .header.is-active .gnb > ul > li > a:hover,
.main-body.theme-light .header.is-active .gnb > ul > li > a:active,
.main-body.theme-light .header.is-active .gnb > ul > li.is-active > a,
.main-body.theme-light .header.is-active .gnb > ul > li.is-current > a {color:#fff;}
.main-body.theme-light .header.is-active .gnb > ul > li + li:before {background-color:#fff;}
.main-body.theme-light .header.is-active .unb-shop {color:#fff;}


/*-------------------------------------------------------------------
    ## Sub Layout
-------------------------------------------------------------------*/
/* Wrapper */
.sub-body .wrapper {min-height:100%;}
.sub-body .header {position:fixed; z-index:103; top:0; left:0; width:100%; height:100px;}
.sub-body .container {position:relative; z-index:102;}
.sub-body .content {}
.sub-body .footer {width:100%;}
.sub-body .footer.is-fixed {position:fixed; left:0; bottom:0;}

@media screen and (max-width: 1024px) {

	.sub-body .container {min-width:auto;}
	.sub-body .footer {min-width:auto;}
}

/* Header Area */
.sub-body .header {background-color:rgba(0, 0, 0, 0.8);}
.sub-body .header .in-sec {display:-webkit-box;display:-ms-flexbox;display:flex; height:100%; -webkit-box-align:center; -ms-flex-align:center; align-items:center;}

/* Logo */
.sub-body .header .logo a span {background-position:0 bottom; color:#000;}

/* Drawer */
.sub-body .header .btn-drawer {width:22px; height:22px;}
.sub-body .header .btn-drawer span {display:inline-block; position:absolute; left:50%; top:50%; width:22px; height:20px; margin:-11px 0 0 -11px; vertical-align:top;}
.sub-body .header .btn-drawer span:before,
.sub-body .header .btn-drawer span:after {content:'';}
.sub-body .header .btn-drawer span:before,
.sub-body .header .btn-drawer span:after {display:inline-block; position:absolute; left:0; width:22px; height:2px; background:#fff; vertical-align:top;}

.sub-body .header .btn-drawer i {margin-top:-1px; width:16px;}
.sub-body .header .btn-drawer span:before {top:3px;}
.sub-body .header .btn-drawer span:after {top:auto; bottom:3px;}
/*.sub-body .scrolled .tab-area.is-sticky {position:fixed; top:0;}*/
.sub-body .scrolled .header {display:none;}

/* Footer */
.sub-body .footer-inner {padding:20px 0;}
.sub-body .footer {position:relative; padding:5rem 0; background-color:#fff; z-index:101;}
.sub-body .footer .notice-area {border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
.sub-body .footer .notice-area > dl {display:-webkit-box;display:-ms-flexbox;display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; height:3rem; font-size:0.9rem;}
.sub-body .footer .notice-area > dl dt {padding-right:1rem; color:#111; font-weight:700;}
.sub-body .footer .notice-area > dl dd {padding-left:1rem; position:relative; color:#666; -o-text-overflow:ellipsis; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; width:85%;}
.sub-body .footer .notice-area > dl dd:before {content:''; display:block; position:absolute; top:1px; left:0; width:1px; height:17px; background:#ddd;}
.sub-body .footer .notice-area > dl dd a {line-height:19px;}
.sub-body .footer .info-area {overflow:visible; padding-top:1.8rem;}
.sub-body .footer .info-area:after {content:''; display:block; clear:both;}
.sub-body .footer .info-area .logo-area {width:10.5rem;}
.sub-body .footer .info-area .logo-area .logo {display:block; width:10.5rem; height:1.2rem; color:#000; font-size:20px; background-image:url(/images/common/logo_black.svg); background-size:10.5rem 1.2rem;}
.sub-body .footer .info-area .logo-area .logo a span {display:block; position:relative; width:100%; height:100%; overflow:hidden; text-indent:-9999px; color:transparent; white-space:nowrap;}
.sub-body .footer .tel-area .tel > strong {padding-left:0.5rem; font-size:1.2rem; color:#111; line-height:1.4; font-weight:700;}
.sub-body .footer .tel-area .tel > span {padding-left:0.6rem; font-size:1.5rem;}
.sub-body .footer .tel-area .tel > em {padding-left:1rem; font-size:1.5rem; line-height:1.4; font-weight:700;}
.sub-body .footer .fnb-area {padding-top:1.5rem;}
.sub-body .footer .fnb-area .fnb > li {position:relative; padding-left:2rem;}
.sub-body .footer .fnb-area .fnb > li:before {content:''; display:block; position:absolute; top:50%; left:1rem; width:1px; height:14px; background:#ddd; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);}
.sub-body .footer .fnb-area .fnb > li:first-child {padding-left:0;}
.sub-body .footer .fnb-area .fnb > li:first-child:before {display:none;}
.sub-body .footer .fnb-area .fnb > li a {font-size:0.7rem; color:#111; line-height:1.4; font-weight:400;}
.sub-body .footer .fnb-area .fnb > li a strong {font-weight:600;}
.sub-body .footer .address-area {padding-top:1.5rem; font-size:14px; color:#666; line-height:1.5rem;}
.sub-body .footer .address-area span {position:relative;}
.sub-body .footer .address-area .addr-sec1 > span {display:inline-block;}
.sub-body .footer .address-area .addr-sec2 > span {display:inline-block;}
.sub-body .footer .address-area span + span {padding-left:1.1rem;}
.sub-body .footer .address-area span + span:before {content:''; display:block; position:absolute; top:50%; left:0.5rem;width:1px;height:14px; margin-top:-7px;background:#ddd;}
.sub-body .footer .address-area span:first-child:before {display:none;}
.sub-body .footer .address-area .addr-sec2 .foot-comp-btn {margin-left:0.5rem; padding:0 0.3rem; border:1px solid #ddd; background-color:#f8f8f8;}
.sub-body .footer .copyright {padding-top:1.5rem; font-size:11px; color:#999;}
.sub-body .footer .sns-area {position:absolute; top:-2.6rem; right:0.5rem;}
.sub-body .footer .sns-area > ul {display:-webkit-box;display:-ms-flexbox;display:flex;}
.sub-body .footer .sns-area > ul li + li {padding-left:1.2rem;}
.sub-body .footer .sns-area > ul .btn-sns {width:40px; height:40px;}

@media screen and (max-width: 1130px) {
	.sub-body .footer .address-area .addr-sec1 > span:nth-child(4) {display:block; padding-left:0;}
	.sub-body .footer .address-area .addr-sec1 > span:nth-child(4):before {display:none;}
	.sub-body .footer .address-area .addr-sec2 > span:nth-child(5) {display:block; padding-left:0;}
	.sub-body .footer .address-area .addr-sec2 > span:nth-child(5):before {display:none;}
}

@media screen and (max-width: 1024px) {
	.sub-body .header {height:75px;}
	.sub-body .footer .sns-area {top:-2.9rem;}
}

@media screen and (max-width: 900px) {
	.sub-body .footer .address-area .addr-sec2 > span:nth-child(4) {float:left; display:block; padding-left:0;}
	.sub-body .footer .address-area .addr-sec2 > span:nth-child(4):before {display:none;}
	.sub-body .footer .address-area .addr-sec2 > span:nth-child(5) {float:left; display:inline-block; padding-left:1.1rem;}
	.sub-body .footer .address-area .addr-sec2 > span:nth-child(5):before {display:block;}
}

/* Content */
@media screen and (max-width: 767px) {
	.sub-body .content-container {padding-bottom:60px;}

	.sub-body .header {height:50px;}

	/*Mobile Header Toggle*/
	.sub-body .scrolled .header {display:none;}
	.scrolled .sub-cate-area.is-sticky .sub-cate {top:0;}
	
	.sub-body .footer {position:relative; padding:0 0 4rem;}
	.sub-body .footer:before {content:''; display:block; width:100%; height:1.3rem; background:#dedfe2;}
	.sub-body .footer .info-area {padding-top:2.7rem;}

	.sub-body .footer .notice-area > dl {height:4.5rem;}
	.sub-body .footer .notice-area > dl dt {font-size:1.4rem;}
	.sub-body .footer .notice-area > dl dd {width:100%; font-size:1.4rem;}

	.sub-body .footer .logo-area {width:10.5rem;}
	.sub-body .footer .tel-area {display:none;}
	.sub-body .footer .fnb-area {display:none;}
	.sub-body .footer .address-area {padding-top:1.5rem; font-size:1.2rem; line-height:1.6;}
	.sub-body .footer .address-area span + span {padding-left:0;}
	.sub-body .footer .address-area span:before,
	.sub-body .footer .address-area span + span:before {display:none;}
	.sub-body .footer .address-area .addr-sec2 {display:none;}
	.sub-body .footer .copyright {padding-top:1rem;}
	.sub-body .footer .sns-area {position:static; margin-top:3rem;}
	.sub-body .footer .sns-area > ul {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
	.sub-body .footer .sns-area > ul li img {width:3.1rem; height:3.1rem;}
}
@media screen and (max-device-width: 960px) and (max-device-height:480px) { /* 가로모드 768 오버사이즈 전용 */
	.sub-body .content-container {padding-bottom:60px;}

	.sub-body .header {height:50px;}
	.sub-body .footer {position:relative; padding:0 0 4rem;}
	.sub-body .footer:before {content:''; display:block; width:100%; height:1.3rem; background:#dedfe2;}
	.sub-body .footer .info-area {padding-top:2.7rem;}

	.sub-body .footer .notice-area > dl {height:4.5rem;}
	.sub-body .footer .notice-area > dl dt {font-size:1.4rem;}
	.sub-body .footer .notice-area > dl dd {font-size:1.4rem;}

	.sub-body .footer .logo-area {width:10.5rem;}
	.sub-body .footer .tel-area {display:none;}
	.sub-body .footer .fnb-area {display:none;}
	.sub-body .footer .address-area {padding-top:1.5rem; font-size:1.2rem;}
	.sub-body .footer .address-area span + span {padding-left:0;}
	.sub-body .footer .address-area span:before {display:none;}
	.sub-body .footer .address-area .addr-sec2 {display:none;}
	.sub-body .footer .copyright {padding-top:1rem;}
	.sub-body .footer .sns-area {position:static; margin-top:3rem;}
	.sub-body .footer .sns-area > ul {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
	.sub-body .footer .sns-area > ul li img {width:3.1rem; height:3.1rem;}
}