<!DOCTYPE html>
<html lang="ko">
<head>

    <meta property="og:image" content="http://www.everybot.co.kr/images/visual/visual_company.jpg" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta property="og:title" content="EVERYBOT" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="EVERYBOT" />
    <meta property="og:url" content="everybot.co.kr" />
    <meta property="og:description" content="대한민국 대표 홈서비스 로봇 전문기업, 로봇청소기, 로봇공기청정기" />
    <meta property="og:image" content="http://www.everybot.co.kr/images/visual/visual_company.jpg" />
    <title>EVERYBOT</title>
    <span itemscope="" itemtype="http://schema.org/Organization">
<link itemprop="url" href="http://www.everybot.co.kr">
<a itemprop="sameAs" href="https://blog.naver.com/everybot"></a>
<a itemprop="sameAs" href="https://www.instagram.com/everybot_official/"></a>
<a itemprop="sameAs" href="https://www.youtube.com/channel/UC1m9bsSnFnjlTrnk7B2o0fA"></a>
</span>
    <title>EVERYBOT</title>

    <link rel="stylesheet" href="static/common/css/base.css?time=20191014_1">
    <link rel="stylesheet" href="static/common/css/common.css?time=20191014_1">
    <link rel="stylesheet" href="static/common/css/ui.css?time=20191014_1">
    <link rel="stylesheet" href="static/common/css/layout.css?time=20191014_1">
    <link rel="stylesheet" href="static/common/css/content.css?time=20191014_1">
    <link rel="stylesheet" href="static/common/css/libs/plugins.css?time=20191014_1">
    <link rel="stylesheet" href="static/common/css/libs/animate.css?time=20191014_1">

    <link rel="apple-touch-icon" sizes="180x180" href="static/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="256x256" href="static/images/icons/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/images/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/icons/favicon-32x32.png">
    <link rel="mask-icon" href="static/images/icons/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="static/common/js/libs/EasePack.js"></script>
    <script src="static/common/js/libs/TweenMax.js"></script>
    <script src="static/common/js/pub/pub_device.js"></script>
    <script src="static/common/js/pub/pub_plugins.js"></script>
    <script src="static/common/js/pub/pub_utility.js"></script>
    <script src="static/common/js/pub/pub_ui.js?time=20201104_1"></script>
    <!--[if lt IE 9]>
    <script src="static/common/js/libs/html5shiv-printshiv.js">
    <![endif]-->
    <link rel="stylesheet" href="static/common/css/main.css">
    <!--    <script type="text/javascript">-->
    <!--        //&lt;!&ndash;-->
    <!--        $(function(){-->
    <!--            ui.fullpage();-->
    <!--            ui.swiper.mainProfile();-->
    <!--            ui.swiper.mainStory();-->

    <!--            var popSlideCount = $("#layerPopup .swiper-slide").length;-->
    <!--            //console.log(popSlideCount);-->
    <!--            if (popSlideCount > 1){-->
    <!--                ui.swiper.mainPop();-->
    <!--            }-->
    <!--            if (popSlideCount === 1){-->
    <!--                $("#layerPopup .swiper-button-next").hide();-->
    <!--                $("#layerPopup .swiper-button-prev").hide();-->
    <!--            }-->
    <!--        })-->
    <!--        //&ndash;&gt;-->
    <!--    </script>-->
</head>
<body class="main-body theme-dark">
<div class="wrapper">
    <!-- s: SkipNav -->
    <div class="skipNav">
        <a href="#content">본문 바로가기</a>
    </div>
    <!-- e: SkipNav -->

    <!-- s: Header -->
    <div id="loading"></div>
    <header class="header">
        <div class="in-sec">
            <div class="drawer-area">
                <button type="button" class="btn btn-drawer" aria-controls="sidebar" aria-expanded="false" onclick="ui.sidebar('sidebar', 'open')"><span><i class="ico">Sidebar 열기</i></span></button>
            </div>
            <div class="logo-area">
                <h1 class="logo"><a href="/"><span role="text">everybot.</span></a></h1>
            </div>

            <!-- s: GNB -->
            <div class="gnb-area">
                <nav class="gnb">

                    <ul>
                        <li class="has-expand">
                            <a href="">회사 소개</a>
                            <!--                            <div class="node2-menu">-->
                            <!--                                <ul>-->
                            <!--                                    <li><a href="">기술력</a></li>-->
                            <!--                                    <li><a href="">연구개발</a></li>-->
                            <!--                                    <li><a href="">회사소개</a></li>-->
                            <!--                                    <li><a href="">인재채용</a></li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                        </li>
                        <li class="has-expand">
                            <a href="">에브리봇 LABS</a>
                            <!--                            <div class="node2-menu">-->
                            <!--                                <ul>-->
                            <!--                                    <li><a href="" class="no-active">로봇물걸레청소기</a>-->
                            <!--                                        <div class="node3-menu">-->
                            <!--                                            <ul>-->
                            <!--                                                <li><a href="">쓰리스핀</a></li>-->
                            <!--                                                <li><a href="">엣지</a></li>-->
                            <!--                                                <li><a href="">RS700</a></li>-->
                            <!--                                                <li><a href="">RS500N</a></li>-->
                            <!--                                            </ul>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                    <li><a href="" class="no-active">로봇청소기</a>-->
                            <!--                                        <div class="node3-menu">-->
                            <!--                                            <ul>-->
                            <!--                                                <li><a href="">3i</a></li>-->
                            <!--                                                <li><a href="">3iPOP</a></li>-->
                            <!--                                            </ul>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                        </li>
                        <li class="has-expand">
                            <a href="https://everybot.irpage.co.kr" target="_blank">IR</a>
                            <!--                            <div class="node2-menu">-->
                            <!--                                <ul>-->
                            <!--                                    <li>-->
                            <!--                                        <a href="https://everybot.irpage.co.kr" target="_blank">IR</a>-->
                            <!--                                    </li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                        </li>
                        <li class="has-expand">
                            <a href="">CONTACT</a>
                            <!--                            <div class="node2-menu">-->
                            <!--                                <ul>-->
                            <!--                                    <li><a href="">공지사항</a></li>-->
                            <!--                                    <li><a href="">에브리봇 소식</a></li>-->
                            <!--                                    <li><a href="">홍보관</a></li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                        </li>
                        <li class="has-expand">
                            <a href="">인재채용</a>
                            <!--                            <div class="node2-menu">-->
                            <!--                                <ul>-->
                            <!--                                    <li><a href="">매장찾기</a></li>-->
                            <!--                                    <li><a href="">사용가이드</a>-->
                            <!--                                    <li><a href="">FAQ</a></li>-->
                            <!--                                    <li><a href="">A/S접수</a></li>-->
                            <!--                                </ul>-->
                            <!--                            </div>-->
                        </li>
                    </ul>

                </nav>
            </div>
            <!-- e: GNB -->

            <!--            <div class="unb-area">-->
            <!--                <button type="button" class="btn-tv-schedule popup-opener" aria-controls="popupSchedule" aria-haspopup="dialog" title="홈쇼핑일정"></button>-->
            <!--                <a href="http://www.everybotmall.com/" target="_blank" class="unb-shop" title="새창열기">-->
            <!--                    <i class="ico ico-buy"></i>-->
            <!--                    <span class="label-txt">쇼핑몰</span>-->
            <!--                    <span class="label-ico"><i class="ico ico-go"></i></span>-->
            <!--                </a>-->
            <!--            </div>-->
        </div>
    </header>
    <script type="text/javascript">
        window._rblq = window._rblq || [];
        _rblq.push(['setVar','cuid','16214e06-5fc9-4ca4-a0ec-3e14fd3d7d56']);
        _rblq.push(['setVar','device','PW']);
        _rblq.push(['track','visit']);
        (function(s,x){s=document.createElement('script');s.type='text/javascript';
            s.async=true;s.defer=true;s.src=(('https:'==document.location.protocol)?'https':'http')+
                '://assets.recobell.io/rblc/js/rblc-apne1.min.js';;
            x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})();
    </script>

    <!-- e: Header -->

    <!-- s: Aside -->
    <!-- s: Sidebar -->
    <aside id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <p class="signature">EVERYDAY, EVERYBOT</p>
            <p class="logo"><a href="index2.html">Everybot</a></p>
        </div>
        <div class="sidebar-container">
            <nav class="mnb">
                <ul>
                    <li class="has-expand is-active">
                        <a href="">회사소개</a>
                        <!--                        <div class="node2-menu">-->
                        <!--                            <ul>-->
                        <!--                                <li><a href="/pages/everybot/technic1.asp">기술력</a></li>-->
                        <!--                                <li><a href="/pages/everybot/rnd1.asp">연구개발</a></li>-->
                        <!--                                <li><a href="/pages/everybot/introduce1.asp">회사소개</a></li>-->
                        <!--                                <li><a href="/pages/recruit/recruit1.asp">인재채용</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </li>
                    <li class="has-expand">
                        <a href="">에브리봇 LABS</a>
                        <!--                        <div class="node2-menu">-->
                        <!--                            <ul>-->
                        <!--                                <li><a href="/pages/product/product_all.asp">제품전체보기</a></li>-->
                        <!--                                <li><a href="/pages/product/water_cleaners1.asp" class="no-active">물걸레로봇청소기</a>-->
                        <!--                                    <div class="node3-menu">-->
                        <!--                                        <ul>-->
                        <!--                                            <li><a href="/pages/product/water_cleaners4.asp">쓰리스핀</a></li>-->
                        <!--                                            &lt;!&ndash; <li><a href="https://m.everybotmall.com/goods/goods_view.php?goodsNo=1000000151#detail_top" target="_blank">쓰리스핀</a></li> &ndash;&gt;-->
                        <!--                                            <li><a href="/pages/product/water_cleaners3.asp">엣지</a></li>-->
                        <!--                                            <li><a href="/pages/product/water_cleaners2.asp">RS700</a></li>-->
                        <!--                                            <li><a href="/pages/product/water_cleaners1.asp">RS500N</a></li>-->
                        <!--                                        </ul>-->
                        <!--                                    </div>-->
                        <!--                                </li>-->
                        <!--                                <li><a href="/pages/product/normal_cleaners3.asp" class="no-active">로봇청소기</a>-->
                        <!--                                    <div class="node3-menu">-->
                        <!--                                        <ul>-->
                        <!--                                            <li><a href="/pages/product/normal_cleaners3.asp">3i</a></li>-->
                        <!--                                            <li><a href="/pages/product/normal_cleaners4.asp" target="_balnk">3iPOP</a></li>-->
                        <!--                                        </ul>-->
                        <!--                                    </div>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </li>
                    <li class="has-expand">
                        <!-- <a href="/pages/invest/ir_list.asp">투자정보</a> -->
                        <a href="https://everybot.irpage.co.kr">IR</a>
                        <!--                        <div class="node2-menu">-->
                        <!--                            <ul>-->
                        <!--                                <li><a href="https://everybot.irpage.co.kr" target="_blank">투자정보</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                        <!-- <div class="node2-menu">
                            <ul>
                                <li><a href="/pages/invest/money_list.asp">경영정보</a></li>
                                <li class="dv-pc-only"><a href="/pages/invest/stock_list.asp">주가정보</a></li>
                                <li><a href="/pages/invest/issue_list.asp">공시현황</a></li>
                                <li><a href="/pages/invest/ir_list.asp">투자자 공고사항</a></li>
                            </ul>
                        </div> -->
                    </li>
                    <li class="has-expand">
                        <a href="/pages/newsroom/notice_list.asp">CONTACT</a>
                        <!--                        <div class="node2-menu">-->
                        <!--                            <ul>-->
                        <!--                                <li><a href="/pages/newsroom/notice_list.asp">공지사항</a></li>-->
                        <!--                                <li><a href="/pages/newsroom/news_list.asp">에브리봇 소식</a></li>-->
                        <!--                                <li><a href="/pages/newsroom/promotion_list.asp">홍보관</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </li>
                    <li class="has-expand">
                        <a href="">인재채용</a>
                        <!--                        <div class="node2-menu">-->
                        <!--                            <ul>-->
                        <!--                                <li><a href="/pages/cs/shop_search.asp">매장찾기</a></li>-->
                        <!--                                <li><a href="/pages/cs/cs1.asp">사용가이드</a>-->
                        <!--                                <li><a href="/pages/cs/faq.asp">FAQ</a>-->
                        <!--                                </li>-->
                        <!--                                <li><a href="/pages/cs/as.asp">A/S접수</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar-closer">
            <button type="button" class="btn" title="사이드메뉴 닫기" aria-controls="sidebar" aria-expanded="true" onclick="ui.sidebar('sidebar', 'close')"><span><i class="ico ico-close">닫기</i></span></button>
        </div>
    </aside>
    <!-- e: Sidebar -->
    <!-- e: Aside -->

    <div class="dimmer" hidden></div>
    <!-- s: main popoup -->

    <!-- e: main popup -->


    <!-- s: homeshopping popup -->
    <!-- <div id="popupSchedule" class="popup-wrap popup-schedule" role="dialog" aria-modal="true" aria-labelledby="popupBasicTitle1" aria-describedby="">
        <div class="popup popup-basic popup-style2">
            <div class="popup-focus" role="text"></div>
            <div class="popup-inner">
                <div class="popup-header">
                    <h3 id="popupBasicTitle1">에브리봇 홈쇼핑 일정표</h3>
                </div>
                <div class="popup-container">
                    <div id="calendar"></div>

                    <div class="select-wrap">
                        <select name="scheduleFilter" id="scheduleFilter" title="제품 전체" class="select">
                            <option value="0" >제품 전체</option>
                            <option value="5" >3i POP</option>
                            <option value="1" >EDGE</option>
                            <option value="6" >쓰리스핀</option>
                        </select>
                    </div>

                    <div class="legend">
                        <span><span class="square broad"></span>확정</span>
                        <span><span class="square pro-broad"></span>가편성</span>
                    </div>
                </div>
                <button type="button" class="btn popup-closer" aria-controls="popupSchedule" title="에브리봇 홈쇼핑 일정표 팝업닫기" onclick="ui.popup('popupSchedule', this, 'close')"><span>Close</span></button>
            </div>
        </div>
    </div> -->
    <!-- e: homeshopping popup -->
</div>

<!--
<script>
    setTimeout(function(){
        $('#popupSchedule').removeClass('is-active');
    },300);

    setTimeout(function(){
        $('#popupSchedule').css('z-index','-1');
    },600);

</script> -->
</body>
</html>

